Cookbook(
    recipes: {
        ValenciaMeal: (
            name: "Valencia Meal",
            ingredients: {
                Couscous: 1,
                TeffSandwich: 1,
                KingOfJungleHamburg: 1,
                FigPie: 2,
                DatePalmWine: 2,
            }
        ),
    },
)
