Cookbook(
    materials: {
        ValenciaMeal: "Valencia Meal",
        Couscous: "Couscous",
        TeffSandwich: "Teff Sandwich",
        KingOfJungleHamburg: "King of Jungle Hamburg",
        FigPie: "Fig Pie",
        DatePalmWine: "Date Palm Wine",
        FreekehSnakeStew: "Freekeh Snake Stew",
        TeffFlourDough: "Teff Flour Dough",
        Nutmeg: "Nutmeg",
        Paprika: "Paprika",
        GrilledScorpion: "Grilled Scorpion",
        TeffBread: "Teff Bread",
        RedSauce: "Red Sauce",
        LionMeat: "Lion Meat",
        PickledVegetables: "Pickled Vegetables",
        Fig: "Fig",
        WheatDough: "Wheat Dough",
        Sugar: "Sugar",
        OliveOil: "Olive Oil",
        DatePalm: "Date Palm",
        EssenceOfLiquor: "Essence of Liquor",
        LeaveningAgent: "Leavening Agent",
        SnakeMeat: "Snake Meat",
        Freekeh: "Freekeh",
        StarAnise: "Star Anise",
        MineralWater: "Mineral Water",
        TeffFlour: "Teff Flour",
        Teff: "Teff",
        ScorpionMeat: "Scorpion Meat",
        Butter: "Butter",
        HighQualityHotPepper: "High-Quality Hot Pepper",
        Cream: "Cream",
        Milk: "Milk",
        Salt: "Salt",
        Vinegar: "Vinegar",
        Wheat: "Wheat",
        Grape: "Grape",
        WheatFlour: "Wheat Flour",
    },

    recipes: {
        ValenciaMeal: (
            ingredients: {
                Couscous: 1,
                TeffSandwich: 1,
                KingOfJungleHamburg: 1,
                FigPie: 2,
                DatePalmWine: 2,
            }
        ),
        Couscous: (
            ingredients: {
                FreekehSnakeStew: 1,
                TeffFlourDough: 6,
                Nutmeg: 3,
                Paprika: 4,
            }
        ),
        TeffSandwich: (
            ingredients: {
                FreekehSnakeStew: 1,
                GrilledScorpion: 1,
                TeffBread: 1,
                RedSauce: 3,
            }
        ),
        KingOfJungleHamburg: (
            ingredients: {
                LionMeat: 4,
                TeffBread: 4,
                PickledVegetables: 2,
                Nutmeg: 3,
            }
        ),
        FigPie: (
            ingredients: {
                Fig: 5,
                WheatDough: 3,
                Sugar: 3,
                OliveOil: 2,
            }
        ),
        DatePalmWine: (
            ingredients: {
                DatePalm: 5,
                EssenceOfLiquor: 2,
                Sugar: 1,
                LeaveningAgent: 4,
            }
        ),
        FreekehSnakeStew: (
            ingredients: {
                SnakeMeat: 3,
                Freekeh: 6,
                StarAnise: 2,
                MineralWater: 5,
            },
        ),
        TeffFlourDough: (
            ingredients: {
                TeffFlour: 1,
                MineralWater: 1,
            },
        ),
        TeffFlour: (
            ingredients: {
                Teff: 1,
            },
        ),
        GrilledScorpion: (
            ingredients: {
                ScorpionMeat: 3,
                Butter: 2,
                Nutmeg: 3,
                HighQualityHotPepper: 1,
            },
        ),
        Butter: (
            ingredients: {
                Cream: 1,
                Salt: 1,
            },
        ),
        Cream: (
            ingredients: {
                Milk: 1,
                Sugar: 1,
            },
        ),
        PickledVegetables: (
            ingredients: {
                Paprika: 8,
                Vinegar: 4,
                LeaveningAgent: 2,
                Sugar: 2,
            },
        ),
        Vinegar: (
            ingredients: {
                Wheat: 1,
                Grape: 1,
                LeaveningAgent: 1,
                Sugar: 1,
            },
        ),
        WheatDough: (
            ingredients: {
                WheatFlour: 1,
                MineralWater: 1,
            },
        ),
        WheatFlour: (
            ingredients: {
                Wheat: 1,
            },
        ),
        EssenceOfLiquor: (
            ingredients: {
                WheatFlour: 1,
                Grape: 1,
                LeaveningAgent: 1,
            },
        ),
    },
)
